*{
    margin: 0;
    padding: 0;
}

.con{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 50px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    color: rgb(66, 60, 60);
}

button{
    font-size: 23px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    color: black;
    width: 60px;
    height: 60px;
}

button:hover{
    background-color: black;
    color: white;
}